@model IEnumerable<webProject2.Models.categories>

<!DOCTYPE html>
<html lang="en">
<head>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Category');
            
            data.addRows([
                [, @ViewData["d1"]],
                ['IT', @ViewData["d2"]]
            ]);
            var options = {
                'title': 'Number of Books',
                'width': 400,
                'height': 300
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>


    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    @{
        Layout = "~/Views/Shared/adminLayout.cshtml";
    }

    <style>
        

        a img {
            transition: 0.5s;
        }

            a img:hover {
                width: 20%;
            }

        
    </style>
</head>
<body>
    <div style="bottom: 300px;background-color: rgba(0, 0, 0, 0.325); margin: 50px;" class="blackBackground">
   

    <!--end of navbar code and start of carousel code-->
    <div style="text-align:center; color: white; opacity:100%"><h1>Admins page</h1></div>

        <div> <a asp-controller="items" asp-action="index"><img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-coloricon-1/21/29-512.png" width="150px" /></a>
            <a asp-controller="users" asp-action="index"><img src="https://cdn.iconscout.com/icon/free/png-256/free-add-user-2-457816.png" width="150px" /></a>
            <a asp-controller="Home" asp-action="email"><img src="https://cdn-icons-png.flaticon.com/512/176/176674.png" width="150px" /></a>
            <a asp-controller="items" asp-action="index"><img src="https://cdn-icons-png.flaticon.com/512/5230/5230364.png" width="150px" /></a>
            <a asp-controller="items" asp-action="search"><img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Search_Icon.png" width="150px" /></a>
            <a asp-controller="orders" asp-action="invoicelist"><img src="https://static.vecteezy.com/system/resources/previews/019/006/957/original/invoice-flat-icons-png.png" width="150px" /></a>

        </div>
        <div><p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:white"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Edit items &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Add/manage admins&nbsp;&nbsp;&nbsp;&nbsp;  Send Email   &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  items list    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                         search       &nbsp;&nbsp;&nbsp;&nbsp;     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        invoice</p></div>

        <a style="margin-left:400px" asp-controller="users" asp-action="roleslist"><img src="https://cdn-icons-png.flaticon.com/512/33/33887.png" width="150px" /></a>
        <div><p style="margin-left:400px;color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Get users by role</p></div>
        <a style="margin-left:400px" asp-controller="Home" asp-action="dashboard"><img src="https://cdn-icons-png.flaticon.com/512/6820/6820898.png" width="150px" /></a>
        <div><p style="margin-left:400px;color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</p></div>

    </div>
</body>


</html>
