<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
   

    <script>
      function initMap() {
        navigator.geolocation.getCurrentPosition(onSuccess);
        function onSuccess(position) {
        var location = { lat: position.coords.latitude, lng: position.coords.longitude };
        var mymap = new google.maps.Map(document.getElementById('location'), { zoom: 8, center: location });
        var marker = new google.maps.Marker({ position: location, map: mymap });  
        } 
      }
    </script>
    

  </head>
@{
    Layout = "~/Views/Shared/customerLayout.cshtml";
}

  <body>
    

   
    <div id="crs" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            height="300px"
            width="100%"
            src="https://st.depositphotos.com/1081417/3255/i/600/depositphotos_32559365-stock-photo-welcome.jpg"
            alt="First slide"
          />
          <div class="carousel-caption">
            <!--a name should be loaded here from localstorage-->
            <h1
            id="welcomeMessage"
              class="animate__animated animate__fadeInLeft animate__slow"
              style="padding-bottom: 20px; color:black;"
            >
              welcome @ViewData["name"]
            </h1>
          </div>
        </div>

        <div class="carousel-item">
          <img
            height="300px"
            width="100%"
            src="https://images.unsplash.com/photo-1519376108558-7b6471e87264?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMHJvYWR8ZW58MHx8MHx8fDA%3D&w=1000&q=80"
            alt="First slide"
          />
          <div class="carousel-caption">
            <h1 class="animate__animated animate__fadeInLeft animate__slow">
              The road
            </h1>
          </div>
        </div>
        <div class="carousel-item">
          <img
            height="300px"
            width="100%"
            src="https://media.istockphoto.com/id/1188060959/photo/woman-hand-holding-bloody-knife.jpg?b=1&s=170667a&w=0&k=20&c=x_47eD4wVw_yDjGz8SNp6MoXA7ULsRij9q83jQXlC50="
            alt="First slide"
          />
          <div class="carousel-caption">
            <h1 class="animate__animated animate__fadeInLeft animate__slow">
              To Kill a Mockingbird
            </h1>
          </div>
        </div>
        <div class="carousel-item">
          <img
            height="300px"
            width="100%"
            src="https://wallpaperbat.com/img/409998-mars-wallpaper.jpg"
            alt="third slide"
          />
          <div class="carousel-caption">
            <h1 class="animate__animated animate__fadeInLeft animate__slow">
              The Martian
            </h1>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#crs" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a class="carousel-control-next" href="#crs" data-slide="next">
        <span class="carousel-control-next-icon"></span
      ></a>
    </div>
    <!--end of carousel code and start of jumbotron-->

    <div id="blackBackground" >
    <div id="jumbotron" class="jumbotron text-center">
      <h1>Ziad's bookstore</h1>
      <br />
      <p style="opacity: 1">Get ready to explore a world of books</p>
    </div>
    <!--linkes to the book's pages-->
    <div class="container">
      <h2 id="mostSoldBooks">Our most sold books</h2>
      <div class="row">
        <div class="col-md-3">
                    <a asp-controller="items" asp-action="Details" asp-route-id="3"><img
              src="~/images/huckleberry-finn.jpg"
              width="150px"
              alt=""
            />
          </a>
        </div>
        <div class="col-md-3">
                    <a asp-controller="items" asp-action="Details" asp-route-id="5"><img
              src="~/images/71IJ1HC2a3L._AC_UF1000,1000_QL80_.jpg"
              width="150px"
              alt=""
            />
          </a>
        </div>
        <div class="col-md-3">
                    <a asp-controller="items" asp-action="Details" asp-route-id="1"><img
              src="~/images/61ibOuXLwcL._AC_UF894,1000_QL80_.jpg"
              width="150px"
              alt=""
            />
          </a>
        </div>
        <div class="col-md-3">
          <a asp-controller="items" asp-action="Details" asp-route-id="6"
            ><img
              src="~/images/TheMartian-850x1236.jpg"
              width="150px"
              alt=""
            />
          </a>
        </div>
      </div>
      <br />
      
      </div>

      <br />
      <br />
      <!-- our team section code-->
      <h2 id="ourTeam">Our team</h2>

      <br />

      <div class="row">
        <div class="card col-md-4">
          <div class="card-img-top">
            <img
              class="rounded-circle"
              width="300px"
              src="https://static.thenounproject.com/png/259872-200.png"
              alt=""
            />
          </div>
          <div class="card-title text-center">Mohammed ta'oub</div>
          <div class="card-body text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste culpa
            mollitia deleniti consectetur dolorem harum esse delectus! Vel eum
            culpa impedit delectus neque! Quam rem voluptates doloribus
            aspernatur facere voluptate.
          </div>
        </div>

        <div class="card col-md-4">
          <div class="card-img-top">
            <img
              class="rounded-circle"
              width="300px"
              src="https://static.thenounproject.com/png/259872-200.png"
              alt=""
            />
          </div>
          <div class="card-title text-center">Hussam Almuhamady</div>
          <div class="card-body text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste culpa
            mollitia deleniti consectetur dolorem harum esse delectus! Vel eum
            culpa impedit delectus neque! Quam rem voluptates doloribus
            aspernatur facere voluptate.
          </div>
        </div>

        <div class="card col-md-4">
          <div class="card-img-top">
            <img
              class="rounded-circle"
              width="300px"
              src="https://static.thenounproject.com/png/259872-200.png"
              alt=""
            />
          </div>
          <div class="card-title text-center">Said Shinfary</div>
          <div class="card-body text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste culpa
            mollitia deleniti consectetur dolorem harum esse delectus! Vel eum
            culpa impedit delectus neque! Quam rem voluptates doloribus
            aspernatur facere voluptate.
          </div>
        </div>
      </div>
      <!-- our services code section-->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 id="ourServicesLabel">Our services</h2>
        </div>
        <div class="col-md-4">
          <i
            class="fa fa-book"
            style="
              font-size: 50px;
              text-align: center;
              color:white;
            "
            >Browse for books</i
          >
        </div>
        <div class="col-md-4">
          <i
            class="fa fa-book"
            style="
              font-size: 50px;
              text-align: center;
              color:white;
            "
            >Add them to your cart
          </i>
        </div>
        <div class="col-md-4">
          <i
            class="fa fa-book"
            style="
              font-size: 50px;
              text-align: center;
              color:white;
            "
            >Buy them and read them</i
          >
        </div>
      </div>
      
      </div>
    <div class="container-fluid">
      <div class="row" id="contactUs">
        <div class="col-md-6">
          <i class="fa fa-phone" style="font-size: 36px; border-radius: 200px"
            >Whatsapp: +966 978643157654</i
          >
          <br />
          <img
            src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png"
            alt="twitter"
            width="50px"
          />
          ziadBookStore
        </div>
        <!-- google map location-->
        <div class="col-md-6" id="location"></div>
    </div>
  </div>
  <script
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoLVOv6pfvrJ2NX4rezpyO9zxqxXAV5eo&callback=initMap" async> </script>

  </body>
  
  <script src="../JavaScript/location.js"></script>
  <script src="../JavaScript/welcome.js"></script>
</html>
