@model IEnumerable<webProject2.Models.items>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/customerLayout.cshtml";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        @item.name
                    </div>
                    <div class="card-body">
                        <img src="~/images/@item.image" height="150" />
                    </div>
                    <div class="card-footer">
                        @item.description
                    </div>
                    <div class="card-footer">
                        <a asp-controller="items" asp-action="details" asp-route-id="@item.Id"> Details</a>
                        
                    </div>

                </div>
            </div>
        }
    </div>
</div>

    </tbody>
</table>
