@model webProject2.Models.items

@{
    ViewData["Title"] = "Create";
}

<h1 class="text">Create</h1>
<link rel="stylesheet" type="text/css" href="~/css/style.css" />
<link />

<h4 class="text">items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="text control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="text control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="text control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="text control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="text form-group">
                <label asp-for="discount" class="text  control-label"></label>
                <div class="text checkbox">
                    <label> <input type="radio" asp-for="discount" class="text" value="yes" /> Yes</label>
                </div>
                <div class="text checkbox">
                    <label> <input type="radio" asp-for="discount" class="text" value="no" />No</label>
                </div>
                <span asp-validation-for="discount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="category" class=" text control-label"></label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text control-label">Pic</label>
                <input type="file" class="form-control" name="image" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
