@model webProject2.Models.orders

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/style.css" />
<h1>Create</h1>

<h4>orders</h4>
<hr />
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#insertModal"> New Item</button
     @await Html.PartialAsync("insertitem",new items())


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userid" class="control-label"></label>
                <input asp-for="userid" class="form-control" />
                <span asp-validation-for="userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemid" class="control-label"></label>
                <input asp-for="itemid" class="form-control" />
                <span asp-validation-for="itemid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyDate" class="control-label"></label>
                <input asp-for="buyDate" class="form-control" />
                <span asp-validation-for="buyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
