@model webProject2.Models.users

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
<h1>Create</h1>

<h4>users</h4>
<hr />
<div id="loginPage" class="container-sm" style="margin:auto ">
    

    <form asp-action="Create">


        <div class="row">

            <div class="col">
        
        <div style="block-size:auto" class="form-group">
    <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Name:</label>
    <input style="" name="name" class=" m-auto" /><br />
    <button type="submit" style="margin-left:50px" class="btn btn-primary">Rais to admin</button>

                </div>
</div>
        </div>
    
    </form>
    <a asp-action="Index">Back to List</a>
</div>
<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
